version: '3'
services:

  db:
    container_name: db
    image: mysql:latest
    restart: always
    environment:
      MYSQL_DATABASE: 'app_ecommerce_db'
      MYSQL_USER: 'bbdigital'
      MYSQL_PASSWORD: 'tecnical'
      MYSQL_ROOT_PASSWORD: 'chile'
    ports:
      - '3306:3306'
    expose:
      - '3306'
    volumes:
      - app-db:/var/lib/mysql
    networks:
      - app

  php:
    container_name: php
    build:
      context: ./php
    ports:
      - '9000:9000'
    volumes:
      - ./:/var/www/e-commerce-app
    depends_on:
      - db
    networks:
      - app

  nginx:
    container_name: nginx
    image: nginx:latest
    ports:
      - '80:80'
    volumes:
      - ./:/var/www/e-commerce-app
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php
      - db
    networks:
      - app

volumes:
  app-db:

networks:
  app:
